# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Données et modèles (fichiers volumineux)
data/garbage/
models/*.keras
models/*.h5
images/*.png

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
~$*.pptx
~$*.pdf
~$*.docx

# Kaggle
kaggle.json

# Streamlit
.streamlit/secrets.toml
